.loginForm{
    margin-top: 5%;
}
.header{
    font-size: 5rem;
}
.label{
    display: block;
  
    color: black;
}  
.input{
    padding-right: 10rem;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.submitBtn{
    padding: 10px 5rem;
    background-color: #388087;
    color: #fff;
}